version: '3.8'

services:
  mosquitto:
    image: eclipse-mosquitto:2.0.18
    container_name: fan-speed-mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./docker/mosquitto/config:/mosquitto/config
      - ./docker/mosquitto/data:/mosquitto/data
      - ./docker/mosquitto/log:/mosquitto/log
    networks:
      - fan-speed-network

networks:
  fan-speed-network:
    driver: bridge
